# PRODUCTION ENVIRONMENT TEMPLATE

# deployment
MSS_DEPLOYMENT_TYPE=production

# network
MSS_FQDN=${COOLIFY_FQDN}

# database
MSS_DATABASE_HOST=host
MSS_DATABASE_PORT=3306
MSS_DATABASE_NAME=name
MSS_DATABASE_USER=user
MSS_DATABASE_PASS=pass
